{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        <a href="/posts/create" class="btn btn-primary pull-right"> Criar Posts </a>

        <div>
            {% for p in posts %}
                <div class="posts">
                    <h2>{{ p.title }}</h2>
                    <small>Criado em {{ p.createdAt()|date("d/m/Y") }}</small>
                    <p>
                        {{ p.content }}
                    </p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}